# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python virtual environment
venv/
env/

# MongoDB credentials or local secrets
*.db
*.sqlite3

app/data/data.py
